body {
    background: rgb(52,131,193);
    background: linear-gradient(90deg, rgba(52,131,193,1) 0%, rgba(255,255,255,1) 100%);
}

.grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; la canitdad de tamaños que pongo indica la cantidad de columnas, en este caso son 3 columnas */
    grid-template-columns: 1fr 2fr 1fr; /*indica fracción del espacio a ocupar*/
    grid-gap: 1rem;
}

.item {
    
    background-color: aliceblue;
    display: flex;
    border-radius: 8px;
    flex-direction:column;
    /* -webkit-box-shadow:;
    -moz-box-shadow: ; */
    justify-content: center;
    align-items: center;

}